.places__image {
    grid-area: image;
    width: 460px;
    object-fit: cover;
    vertical-align: bottom;
}

@media (max-width: 1024px) {
    .places__image {
        width: 440px;
    }
}

@media (max-width: 768px) {
    .places__image {
        width: 340px;
    }
}

@media (max-width: 320px) {
    .places__image {
        width: 320px;
    }
}