.footer {
    padding-top: 92px;
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 24px;
    box-sizing: border-box;

}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding-top: 88px;
        max-width: 720px;
    }
}

@media screen and (max-width: 620px) {
    .footer {
        max-width: 620px;
        flex-direction: column;
    }
}

@media screen and (max-width: 450px) {
    .footer {
        padding-top: 64px;
        max-width: 450px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        max-width: 320px;
        align-items: flex-start;
        margin: 0 0 0 16px;
    }
}