.footer__nav-links {
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    gap: 18px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 620px) {
    .footer__nav-links {
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }
}