.place__url {
    margin: 0 0 12px 0;
    grid-area: link;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    align-self: flex-end;
    color: #AAAAAA;
    text-transform: uppercase;
}

@media screen and (max-width: 320px) {
    .place__url {
        margin-left: 16px;
    }
}